<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-1">
        <input v-model="grade">
        <p>{{ getGrade }}</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app-1',
            data: {
                grade: ''
            },
            computed: {
                getGrade: function () {
                    if (parseInt(this.grade) > 100) {
                        return 'เกิน 100'
                    } else if (parseInt(this.grade) >= 80) {
                        return 'A'
                    } else if (parseInt(this.grade) >= 70) {
                        return 'B'
                    } else if (parseInt(this.grade) >= 60) {
                        return 'C'
                    } else if (parseInt(this.grade) >= 50) {
                        return 'D'
                    } else if (parseInt(this.grade) >= 0) {
                        return 'F'
                    } else if (parseInt(this.grade) < 0) {
                        return 'ไม่มีติดลบ'
                    }
                }
            }
        })

    </script>

</body>

</html>