<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div id="app-2">
        <p>{{ getColor }}</p>
        <div id="c1" class="color1"></div>
        <div id="c2" class="color2"></div>
        <div id="c3" class="color3"></div>
        <br>
        <button v-on:click="count += 1">เปลี่ยนสี</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app-2',
            data: {
                count: 0
            },
            computed: {
                getColor: function () {
                    var color = ['red', 'yellow', 'green']
                    switch (this.count) {
                        case 0:
                            document.getElementById("c1").style.backgroundColor = "red";
                            document.getElementById("c2").style.backgroundColor = "gray";
                            document.getElementById("c3").style.backgroundColor = "gray";
                            return color[0]
                            break;
                        case 1:
                            document.getElementById("c2").style.backgroundColor = "yellow";
                            document.getElementById("c1").style.backgroundColor = "gray";
                            document.getElementById("c3").style.backgroundColor = "gray";
                            return color[1]
                            break;
                        case 2:
                            document.getElementById("c3").style.backgroundColor = "green";
                            document.getElementById("c2").style.backgroundColor = "gray";
                            document.getElementById("c1").style.backgroundColor = "gray";
                            return color[2]
                            break;
                        default:
                            document.getElementById("c1").style.backgroundColor = "red";
                            document.getElementById("c2").style.backgroundColor = "gray";
                            document.getElementById("c3").style.backgroundColor = "gray";
                            this.count = 0;
                            return color[0]
                            break
                    }
                }
            }
        })
    </script>
</body>

</html>