<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-3">
        <input v-model="liter" type="number"><br>
        <input type="radio" id="1" value="แก๊สโซฮอล์ 95" v-model="selectedGas" v-on:click="update">
        <label for="1">แก๊สโซฮอล์ 95</label>
        <input type="radio" id="2" value="แก๊สโซฮอล์ 91" v-model="selectedGas" v-on:click="update">
        <label for="2"> แก๊สโซฮอล์ 91</label>
        <input type="radio" id="3" value="แก๊สโซฮอล์ E20" v-model="selectedGas" v-on:click="update">
        <label for="3"> แก๊สโซฮอล์ E20</label>
        <input type="radio" id="4" value="แก๊สโซฮอล์ E85" v-model="selectedGas" v-on:click="update">
        <label for="4"> แก๊สโซฮอล์ E85</label>
        <input type="radio" id="5" value="เบนซิน 95" v-model="selectedGas" v-on:click="update">
        <label for="5"> เบนซิน 95</label>
        <input type="radio" id="6" value="ดีเซล" v-model="selectedGas" v-on:click="update">
        <label for="6"> ดีเซล</label>
        <input type="radio" id="7" value="ดีเซล B10" v-model="selectedGas" v-on:click="update">
        <label for="7"> ดีเซล B10</label>
        <input type="radio" id="8" value="ดีเซล B20" v-model="selectedGas" v-on:click="update">
        <label for="8"> ดีเซล B20</label>
        <input type="radio" id="9" value="ดีเซลพรีเมี่ยม" v-model="selectedGas" v-on:click="update">
        <label for="9"> ดีเซลพรีเมี่ยม</label>
        <input type="radio" id="10" value="แก๊ส NGV" v-model="selectedGas" v-on:click="update">
        <label for="10"> แก๊ส NGV</label>
        <br>
        <span>Picked: {{ selectedGas }} {{ valueGas }} บาท/ลิตร</span><br>
        <span>จำนวน: {{ countLiter }} ลิตร</span><br>
        <span>ราคารวม: {{ total }} บาท</span><br>
        <button v-on:click="sumation">จ่ายเงิน</button>
        <br><br>
        <span style="font-size: 50px;">ยอดรวม {{ sum }} บาท</span>
        <ol>
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ol>
    </div>
    <script>
        var app = new Vue({
            el: '#app-3',
            data: {
                liter: 0,
                selectedGas: 'ยังไม่ได้เลือก',
                valueGas: 0,
                sum: 0,
                oilPrices: [
                    {
                        id: 1,
                        oil: 'แก๊สโซฮอล์ 95',
                        cost: 26.45
                    },
                    {
                        id: 2,
                        oil: 'แก๊สโซฮอล์ 91',
                        cost: 26.18
                    },
                    {
                        id: 3,
                        oil: 'แก๊สโซฮอล์ E20',
                        cost: 23.44
                    },
                    {
                        id: 4,
                        oil: 'แก๊สโซฮอล์ E85',
                        cost: 19.04
                    },
                    {
                        id: 5,
                        oil: 'เบนซิน 95',
                        cost: 33.86
                    },
                    {
                        id: 6,
                        oil: 'ดีเซล',
                        'cost': 27.39
                    },
                    {
                        id: 7,
                        oil: 'ดีเซล B10',
                        cost: 25.39
                    },
                    {
                        id: 8,
                        oil: 'ดีเซล B20',
                        cost: 24.39
                    },
                    {
                        id: 9,
                        oil: 'ดีเซลพรีเมี่ยม',
                        cost: 31.24
                    },
                    {
                        id: 10,
                        oil: 'แก๊ส NGV',
                        cost: 15.62
                    }
                ],
                items: []
            },
            methods: {
                update: function (event) {
                    cost = 0
                    this.oilPrices.forEach(x => {
                        if (x.id == event.target.id) {
                            cost = x.cost
                            this.valueGas = x.cost
                        }
                    })
                },
                sumation: function () {
                    this.sum += this.total
                    this.items.push({ message: this.selectedGas + ', ' + this.valueGas + ', ' + this.total })
                }
            },
            computed: {
                countLiter: function () {
                    return this.liter
                },
                total: function () {
                    return this.countLiter * this.valueGas
                },

            }
        })
    </script>
</body>
</html>