.color1 {
    width: 50px;
    position: relative;
    margin-left: -48vw;
    height: 50px;
    left: 50%;
    background-color: red;
    border-style: solid;
    border-width: 1px;
}
.color2 {
    width: 50px;
    position: relative;
    margin-left: -48vw;
    height: 50px;
    left: 50%;
    background-color: gray;
    border-style: solid;
    border-width: 1px;
}
.color3 {
    width: 50px;
    position: relative;
    margin-left: -48vw;
    height: 50px;
    left: 50%;
    background-color: gray;
    border-style: solid;
    border-width: 1px;
}